/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.social-od{
		margin-left: -200px;
	}
	
	.social-vk{
		margin-left: -200px;
	}

	.sell_right .button {
		margin: 15px auto;
		float: none;
		max-width: 250px;
	}
	.sell_descr {
		text-align: center;
	}

	.maian_mnu ul {
		background-color: #4c340c;
		display: none;
		position: absolute;
		width: 100%;
	}
	.maian_mnu ul li {
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.social-od{
		margin-left: -200px;
	}
	.social-vk{
		margin-left: -200px;
	}

	.top_links {
		background-color: #585d61;
		display: none;
		margin-top: 15px;
		padding: 14px;
		position: absolute;
		vertical-align: middle;
		width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.social-od{
		margin-left: -200px;
	}
	.social-vk{
		margin-left: -200px;
	}


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.social-od{
		margin-left: -200px;

	}
	.social-vk{
		margin-left: -200px;
	}


}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.social-vk{
		margin-left: -200px;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.social-vk{
		margin-left: -200px;
	}


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links {
		display: inline-block !important;

	}
	.social-vk{
		margin-left: -200px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.maian_mnu ul {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}